body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background: #e8e8e8;
}

.nav-bg {
    background: #d91e18;
}

.card-bg {
    background: #59abe3;
    font-size: 1.25em;

}

.whoDat {
    position: relative;
    width: 100%;

}

.pokemon {
    position: absolute;
    left: 18%;
    top: 30%;
    width: 25%;
}

.shadow {
    box-shadow: 15px 15px 15px #2e3131;
}

.nav-shadow {
    box-shadow: 0px 15px 15px #2e3131;
}

