body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background: #e8e8e8;
}

.nav-bg {
    background: #d91e18;
    z-index: 100;
}

@keyframes grow {
    0%   {margin-top: -400px;}
    5%  {margin-top: -380px;}
    10%  {margin-top: -360px;}
    15%  {margin-top: -340px;}
    20%  {margin-top: -320px;}
    25%  {margin-top: -300px;}
    30%  {margin-top: -280px;}
    35%  {margin-top: -260px;}
    40% {margin-top: -240px;}
    45% {margin-top: -220px;}
    50% {margin-top: -200px;}
    55% {margin-top: -180px;}
    60% {margin-top: -160px;}
    65% {margin-top: -140px;}
    70% {margin-top: -120px;}
    75% {margin-top: -100px;}
    80% {margin-top: -80px;}
    85% {margin-top: -60px;}
    90% {margin-top: -40px;}
    95% {margin-top: -20px;}
    100% {margin-top: 0px;}
  }

#picCard {
    animation-name: grow;
    animation-duration: 1s;
    z-index: 50;
}

.card-bg {
    background: #2574a9;
    font-size: 1.25em;
    animation-name: grow;
    animation-duration: 1s;
}

.whoDat {
    position: relative;
    width: 100%;

}

.pokemon {
    position: absolute;
    left: 18%;
    top: 30%;
    width: 25%;
}

.shadow {
    box-shadow: 15px 15px 15px #2e3131;
}

.nav-shadow {
    box-shadow: 0px 15px 15px #2e3131;
}

